{% extends "::main_n1.html.twig" %}

{% block body %}
    <div class="container margin-container-top">
{#        Ici insertion future des messages flash#}
{#        Zone niveau 3#}
        {% block n3 %}
        {% endblock n3 %}
{#        Fin Zone niveau 3#}
    </div>
{% endblock body %}